- content_for :alerts
  div.collection-list-description
    .filter-label

= user_new_feature('results_photos') do
  h5 Getting Started: Media Gallery
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/JJSy2PDxY5U?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'Want to see what happened at your event? Scroll though the pictures and videos below or use the right sidebar filter to target specific campaigns and events. Click on the video to the left for a quick overview or check out our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more in depth info.

.sidebar#resource-filter-column
  #collection-list-filters

.main.with-details-close-bar
  = resource_details_bar("You are viewing the Media Gallery. Click to close.")
  .tab-content
  #list-view.tab-pane.active
    #list-tools.text-right
      button.btn.download.icon id="download-photos-button" href="" title="Download"
        i.icon-download
        #download-photos-counter-container
    .gallery.select-for-download.photo-results
      ul id="#{controller_name}-list"

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: 'results/photos', action: :items)}',
    'filtersUrl': '#{filter_url('results_photos', apply_to: :results_photos)}',
    'listContainer': '##{controller_name}-list',
    'sorting': 'created_at',
    'sorting_dir': 'desc',
    'autoLoad': true,
    'includeCalendars': true,
    'selectDefaultDate': false,
    'ytdDatesRange': '#{current_company.ytd_dates_range}',
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'applyTo': 'results_photos',
    'userFilters': #{user_saved_filters('results_photos').to_json.html_safe},
    'autoCompletePath': '#{autocomplete_url('results_photos', format: :json)}',
    'defaultParams': '#{j default_params_for_view('status[]=Active')}',
    'emptyStateMessage': '#{j t("results_photos.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("results_photos.empty.line2", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("results_photos.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("results_photos.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-photos.png')}'
  });

  $(document).delegate('#photo-download-add', 'click', function(e) {
    target = $(this).closest('li.photo-item');

    e.preventDefault();
    target.toggleClass('selected-for-download');
    target_id = target.data('photo-id');
    if (target.is('.selected-for-download')) {
      $(this).removeClass('icon-plus').addClass('icon-minus');
    } else {
      $(this).removeClass('icon-minus').addClass('icon-plus');
    }
    selected_elements = $('.selected-for-download').length;
    counter_html = ''
    if (selected_elements > 0) {
      counter_html = '<span class="badge download-photos-counter">' + selected_elements + '</span>';
    }
    $('#download-photos-counter-container').html(counter_html);

    return false;
  });

  $(document).delegate('#download-photos-button', 'click', function(e) {
    e.preventDefault();
    ids  = $.map($('.selected-for-download'), function(photo, index){
      return photo.getAttribute('data-photo-id');
    })
    if (ids.length > 0) {
      $.post('#{downloads_results_photos_url(format: :js)}', {photos: ids})
    } else {
      bootbox.alert('Please select at least one photo to download');
    }
  });