- content_for :footer
  = javascript_include_tag "jquery.formBuilder"
- content_for :head
  = stylesheet_link_tag "form_builder"


.row-fluid.with-details-close-bar
  = resource_details_bar("You are viewing Activity type details. Click to close.")

  .details_box.padding-top-close-bar
    .details-main-title
      h2.pull-left= resource.name
      .edition-links
        = button_to_edit resource if can?(:edit, resource)
        = button_to_activate_or_deactivate(resource) if can?(:deactivate, resource)

    - if resource.description.present?
      .description-data
        span
          = resource.description

    // The is info will be displayed on the fixed bar when the window is scolled down to this position
    .details-bar-info
      span.primary-info
        = resource.name
      = button_to_edit resource if can?(:edit, resource)
      = button_to_activate_or_deactivate(resource) if can?(:deactivate, resource)

  .form-builder-wrapper.activities-wrapper
    .form-wrapper.data-form-wrapper
      #fields-wrapper-affix.fields-wrapper.pull-right data-offset-top="340" data-spy="affix"
        p.drag-field-title Drag fields to add
        #form-field-accordion.accordion
          .accordion-group
            .accordion-heading
              .accordion-toggle data-toggle="collapse" href="#custom-fields" Fields
            .custom
              .field data-type="Dropdown"
                span.icon-dropdown
                br
                | Dropdown

              .field data-type="Section"
                span.icon-section
                br
                | Section

              .field data-type="Checkbox"
                span.icon-checkbox
                br
                | Checkboxes

              .field data-type="Photo"
                span.icon-photo
                br
                | Photo

              .field data-type="Radio"
                span.icon-radio
                br
                | Multiple Choice

              .field data-type="Attachment"
                span.icon-attach
                br
                | Attachment

              .field data-type="Percentage"
                span.icon-percent
                br
                | Percent

              .field data-type="Calculation"
                span.icon-calculation
                br
                | Calculation

              .field data-type="Number"
                span.icon-number
                br
                | Number

              .field data-type="Date"
                span.icon-calendar
                br
                | Date

              .field data-type="Currency"
                span.icon-price
                br
                | Price

              .field data-type="Time"
                span.icon-time
                br
                | Time

              .field data-type="Text"
                span.icon-text
                br
                | Single line text

              .field data-type="LikertScale"
                p Likert scale

              .field data-type="TextArea"
                span.icon-paragraph
                br
                | Paragraph

              .field data-type="Brand"
                span.icon-wired-star
                br
                | Brand

              .field data-type="Marque"
                span.icon-marque
                br
                | Marque

              .field data-type="Place"
                span.icon-venue
                br
                | Place

      .form-fields-sections
        .form-fields.clearfix.form-section.pull-left
          div.empty-form-legend
            b No fields have been added to this form. 
            p Use the right side panel to build your Activity. Drag, drop and rearrange fields. 
        .clearfix


= render partial: 'help_tutorial'

javascript:
  jQuery(function(){
    $('.form-builder-wrapper').formBuilder({
      url: '#{activity_type_path(resource, format: :json)}',
      exportUrl: '#{form_activity_type_path(resource, format: :pdf)}',
      resourceName: 'activity_type',
      canEdit: #{can?(:update, resource) ? 'true' : 'false'}
    });
  });

- reload_page_on_edit_resource