.resource-item id="activity_#{activity.id}"
  = link_to_if_permitted(:show, Activity, activity_path(activity), title: 'Activity Details', class: 'resource-item-link')
    .span4
      .text-large= activity.activity_type.name
      = activity.company_user.full_name
    .span3
      .date= format_date(activity.activity_date)
    .span5
      .text-large= activity.campaign_name
      = activity.current_place.name
      br
      = activity.current_place.formatted_address