@import "variables";

.campaigns.show {
	.nav-tabs li a {
		padding-left: 6px;
		padding-right: 6px;
		width: 100px;
	}
	.kpis-list {
		list-style: none;

		.kpi-goals-list {
			list-style: none;
			margin: 0;
			li {
				border: none;
				font-size: 11px;
				min-height: 0;
			}
		}
		.segment-name{
			text-transform: uppercase;
		}
		.goal-value{
			font-size: 16px;
			line-height: 16px;
			padding-right: 5px;
			min-width: 50px;
			display: inline-block;
			text-align: right;
		}
	}

	.kpi_modal {
		form {
			#similar-kpi-message {
				margin-bottom: 12px;
				color: #B94A48;
			}

			.control-group {
				width: 100%;
				&.kpi-segment {
					margin-bottom: 0;
					input {
						margin-bottom: 0 !important;
					}
				}
				label{
					display: inline-block;
				}
			}

			#kpisegment-fields, #kpigoal-fields {
				input {
					margin: 0 10px 10px 0;
					float: left;
				}
			}
		}
	}

	#fields-wrapper-affix.fields-wrapper {
	  height: 650px;

	  &.affix {
		position: fixed;
		bottom: 20px;
		z-index: 99;
		right: 250px;
	  }
  	}

	#form-field-accordion {
	  overflow: auto;
	  height: 600px;
	}
}


.goalable-errors{
	.alert-danger{
		margin: 30px 0 0 0;
		padding: 10px 20px;
	}
}

.goalable-list {
	list-style: none;
	margin: 20px 0 0 15px;
	li {
		position: relative;
		&> div {
			vertical-align: middle;
			display: inline-block;
		}
		height: 110px;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		.goalable-name {
			font-size: 16px;
			margin-top: 67px;
			width: 200px;
		}
		.goal-title {
			display: block;
			font-size: 11px;
			margin-top: 5px;
			min-height: 20px;
			text-align: center;
		}
		.goals {
			float: right;
			position: absolute;
			overflow: hidden;
			left: 350px;
			right: 0;
			height: 110px;

			.goals-inner {
				position: absolute;
				top: 10px;
				left: 0;
			}

			.kpi-segment-group:hover,
			.kpi-goal:hover,
			.activity-type-goal:hover {
				background-color: $gray-lighter;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				input {
					background-color: $gray-lighter;
				}
			}

			.kpi-goal, .activity-type-goal {
				margin: 0 3px;
				padding: 5px 10px 5px 10px;
				display: inline-block;

				&.kpi-competitive_analysis{
					width: 130px;
				}

				input {
					background-color:white !important;
					box-shadow: none;
					color: $brand;
					font-size: 22px;
					font-weight: bold;
					width: 60px;
					display: block;
					border: 1px solid white !important;
					&:hover, &.active{
						border: 1px solid $user_menu !important;
					}
					&:-moz-placeholder{
						color: $gray;
					}
					&:-ms-input-placeholder{
						color: $gray;
					}
					&::-webkit-input-placeholder {
						color: $gray;
					}
				}

				label{
					.kpi-name, .activity-type-name {
						font-size: 11px;
						padding: 14px 0 0 11px;
					}
				}
			}

			.error {
				input {
					border: 1px solid $buttons !important;
				}
			}

			.kpi-segment-group {
				display: inline-block;
			}
		}
		.goals-controls {
			position: absolute;
			left: 275px;
			right: 0;
			height: 0;
			z-index: 3;
			.pull-left {
				height: 100px;
				padding: 60px 0 0 0;
				background-color: #fff;
			}
			.pull-right{
				height: 100px;
				padding: 60px 15px 0 0;
				background-color: #fff;
			}
			a {
				color: $gray;
				font-size: 22px;
				&.arrow {
					color: $gray-light;
					margin: 0 20px;
					font-size: 30px;
				}
				&.arrow-left {
					display: none;
				}
				&.icon-gear {
					margin-right: 5px;
				}
				&:hover{
					text-decoration: none;
				}
				&.icon-angle-right:before, &.icon-angle-left:before{
					top:8px;
				}
			}
		}
	}
}
