/*
A markup for Attachment zones - Drag and drop view

Styleguide 7.1
*/

.attachments-list{
	list-style:none;
	li{
		margin-bottom: 20px;
	}
}

.attachment-panel{
	@include box-sizing(border-box);
	border: 2px dashed $user_menu;
	color: $user_menu;
	line-height: 17px;
	text-align: center;
	height: 100px;

	&.photos{
		height: 160px;
		width: 240px;
	}

	.icon-upload{
		display:inline-block;
		font-size: 28px;
		line-height: 40px;
		margin-right: 10px;
	}
	a {
		color: $brand;
		text-decoration:underline;
	}
	.drag-box{
		h5,p{
			color: $user_menu;
			font-family: $baseFontFamily;
			font-weight: normal;
			text-align: left;
			margin-bottom:0;
		}
		h5{
			line-height: 16px;
			margin-top:10px;
		}
		p{
			font-size: 16px;
			span.file-browse {
				text-decoration: underline;
				position: relative;
				color: $brand;
				overflow: hidden;
				input[type=file] {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					opacity: 0;
					left: 0;
					-ms-filter: 'alpha(opacity=0)';
					font-size: 14px;
					direction: ltr;
					cursor: pointer;
				}
			}
		}
		.drag-box-text{
			display: inline-block;
		}
	}

	.uploader {
		.filename, .action {
			display: none;
		}
	}
}

.drag-drop-zone {
	line-height: 100%;
	width: 100%;
	padding: 2px 10px 0 0;
	display: table;
	position: relative;

	&.progress-status{
		border: 0;
		background-color: #eee;
	}

	&.attach-field {
		height: 150px;
		width: 240px;
		.attachment-select-file-view {
			padding: 40px 23px;
		}
		&.small {
			height: 100px;
			padding: 0;
			.attachment-select-file-view {
				padding: 10px 23px 20px 23px;
			}
		}
		.attachment-upload-progress-info {
			padding: 20px 0;
			.upload-file-progress {
				.progress {
					width: 70% !important;
					margin-left: 12%;
				}
			}
		}
	}
	.attachment-select-file-view {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.drag-box {
			display: inline-block;
		}
	}

	&.uploading {
		background-color: $gray-lighter;
	}
	&.hover {
		background-color: $gray-lighter;
	}
	&.fade {
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		opacity: 1;
	}
	.attachment-upload-progress-info {
		padding: 0 0 40px 0;
		width: 100%;
		display: none;
		&.complete {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		.upload-file-info {
			.documents-counter {
				color: $brand;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.document-size {
				overflow: hidden;
				display: inline-block;
				margin-bottom: 10px;
			}
			.document-name {
				margin-right: 10px;
				max-width: 60%;
				overflow: hidden;
				display: inline-block;
				white-space: nowrap;
				text-overflow: ellipsis;
				line-height: normal;
				margin-bottom: 10px;
			}
		}
		.upload-file-progress {
			.progress {
				float: left;
				height: 12px;
				width: 10% !important;
				position: relative;
				background-color: $gray-lighter !important;
				border-bottom: 1px solid #dfdfdf;
				margin-left: 45%;
	  			margin-top: 3px;
	  			height: 8px;
			}
			#upload-file-cancel {
				color: $silver;
				cursor: pointer;
				float: left;
				margin-left: 15px;
			}
			.photo-deactivate-link {
				font-size: 16px;
			}
		}
		.step-counter {
  			margin-top: 25px;
  			margin-bottom: 30px;
		}
	}

	&.documents {
		.close {
			position: absolute;
			right: 5px;
		}
		.attachment-select-file-view {
			margin-top: 50px;
			h5 {
				margin-top: 0;
			}
		}
		.attachment-upload-progress-info {
			padding: 20px 0 20px 0;
		}
	}
	&.photos {
		width: 100%;
		padding-bottom: 64%;
		float: left;
		height: 0;
		display: block;
		.attachment-select-file-view {
			display: block;
			margin-left: 3%;
			margin-top: 16%;
			padding-bottom: 63%;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10%;

			.drag-box-text {
				h5, p {
					text-align:center;
				}
			}
		}
		.attachment-upload-progress-info  {
			display: block;
		}
	}
	.close:before {
		content: "\e616";
		color: silver;
		display: inline-block;
		font-family: 'icons';
		font-size: 16px;
		opacity: 1 !important;
		width: 100%;
		speak: none;
		text-align: right;
	}
}

.attachment-uploading-view {
	padding: 48px 16px 10px;
}

.attachment-attached-view {
	height: 100%;
	&.photo {
		height: 150px;
		position: relative;
		width: 240px;
	}
	&.asset-thumbnail {
		@include box-sizing(border-box);
		padding: 10px;
		height: calc(100% + 4px);
		position: absolute;
		top: -2px;
		left: -2px;
		width: calc(100% + 4px);
		background-color: $gray-light;
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		.remove-attachment {
			position: absolute;
			top: -10px;
			right: -7px;
			cursor: pointer;
		}
	}
	.document {
		.file-name {
			margin-top: 5px;
		}
		.remove-attachment {
			color: $user_menu;
			margin-left: 15px;
			&:before {
				margin-top: 8px;
			}
		}
	}
	.image {
		text-align: center;
		#image-attached {
			max-height: 150px;
			max-width: 240px;
		}
	}
	.image-toolbar {
		display: none;
		max-width: 240px;
	}
	&:hover{
		.image-toolbar {
			background-color: rgba(0, 0, 0, 0.6);
			bottom: -10px;
			display: block;
			height: 30px;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			a {
				color: $app_bg;
				font-size: 15px;
				float: right;
				margin: 8px;
				opacity: 1 !important;
				text-decoration: none;
			}
		}
	}
}

#photos_upload_form {
	.attachment-panel {
		margin-bottom: 0;
		.attachment-upload-progress-info {
			.upload-file-progress {
				.progress {
					width: 70% !important;
					margin-left: 12%;
				}
			}
		}
	}
}
