/*
A markup for tags

Styleguide 6.1
*/

.tags-list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  p{
  	margin-bottom: 6px;
  }
  li{
  	margin-bottom: 15px;
  }
}

.user-tag{
	padding: 0 24px 0 28px;
}

.user-tag-option{
	padding: 0 22px 0 28px;
}

.user-tag, .user-tag-option{
	display: inline-block;
	font-size: 13px;
	position: relative;
	margin: 1px 5px 3px 0;
	height: 24px;
	border-radius: 12px;
	background-color: $brand;
	color: $white;
	cursor: default;
	.user-type{
		background-color: $tags-gray;
		display: inline-block;
		@include border-radius(12px);
		height: 24px;
		position: absolute;
		left: 0;
		line-height: 26px;
		overflow: hidden;
		text-align: center;
		width: 24px;
		img{
			vertical-align: top;
			height: 100%;
		  max-width: 200%;
	    left: 100%;
	    margin-left: -20%;
		}
	}

	.icon-close {
		color: $gray-light;
		display: inline-block;
		font-size: 11px;
		line-height: 27px;
		position: absolute;
		right: 7px;
		&:hover {
			text-decoration: none;
		}
	}
}
.user-avatar{
  display: inline-block;
  font-size: 13px;
  position: relative;
  margin: 1px 15px 3px 12px;
  height: 24px;
  color: $white;
  cursor: default;
  .normal-text{
    background: $white;
    color: $gray-light;
    display:inline-block;
    line-height:26px;
    position: absolute;
    left:0;
    width: 60px;
  }
  .user-type{
    background-color: $tags-gray;
    display: inline-block;
    @include border-radius(12px);
    height: 24px;
    position: absolute;
    left: 0;
    line-height: 26px;
    overflow: hidden;
    text-align: center;
    width: 24px;

    img{
      vertical-align: top;
      height: 100%;
      max-width: 200%;
      left: 100%;
      margin-left: -20%;
    }
  }
  .icon-close {
    color: $gray-light;
    display: inline-block;
    font-size: 11px;
    line-height: 27px;
    position: absolute;
    right: 7px;
    &:hover {
      text-decoration: none;
    }
  }
  .more-user-menu{
    padding: 0;
    text-align:center;
    .big-avatar{
      background-color: $tags-gray;
      @include border-radius(30px);
      height: 60px;
      left: 0;
      line-height: 60px;
      overflow: hidden;
      text-align: center;
      width: 60px;
      display: block;
      margin: 0 auto;
      font-size:24px;
    }
    span {
      font-size:12px;
      font-weight: 400;
      color: #7a7a7a;
    }
    &.more-menu {
      text-align: left;
    }
  }
  &:hover{
    .more-user-menu {
      display: block;
      margin-left: -12px;
      margin-top: 7px;
    }
  }
}

.search-choice {
	display: inline-block;
	font-size: 13px;
	position: relative;
	margin: 1px 5px 3px 0;
	padding: 0 22px 0 10px;
	line-height: 24px;
  height: 24px;
	border-radius: 12px;
	background-color: $brand;
	color: $white;
	cursor: default;
	.icon-close{
		color: $white;
		display: block;
		font-size: 10px;
		position: absolute;
		top: 8px;
		right: 7px;
		&:hover {
			text-decoration: none;
		}
	}
}

.rounded-tag{
	background-color: $gray-light;
	color: $white;
	@include border-radius(15px);
	height: 25px;
	text-align: center;
	width: 25px;
	i{
		line-height: 25px;
	}
}
