- brands = parent.campaign.brands.pluck(:name, :id)
.form-inputs
  .expense-info-form
    - resource.build_receipt unless resource.receipt.present?
    = simple_form_for([parent, resource], html: { id: 'new-expense-form' }, remote: true) do |f|
      .row-fluid.expense-fields-wrapper
        #expense-fields.span5
          = f.input :category, collection: expense_categories, input_html: { class: 'chosen-enabled' }
          = f.input :expense_date, as: :date_picker
          = f.input :amount, as: :currency, class: 'string required number', input_html: { data: { 'rule-greaterthan' => 0 } }

          .row-fuild
            .span6
              = f.input :reimbursable, wrapper: :checkbox
            .span6
              = f.input :billable, wrapper: :checkbox

          .row-fuild.split-expense class="#{resource.id.present? ? nil : 'hide'}"
            = f.submit 'Split Expense', data: { disable_with: 'Split Expense' }, class: 'split-expense-link'

          = f.input :brand_id, as: :select, collection: brands, input_html: { class: 'input-large chosen-enabled' }, include_blank: '&nbsp;'.html_safe
          = f.input :merchant
          = f.input :description

        .span1
        .span6.receipt-wrapper
          = f.fields_for :receipt do |rf|
            = rf.input :id, as: :hidden, wrapper: false
            = rf.input :file, label: false, required: resource.receipt_required?, as: :attached_asset, hidden_field_name: 'direct_upload_url', browse_legend: 'inputs.attached_asset.select_file.expense'

      .row-fluid
        .form-actions.inside-form
          = f.submit id: 'save-expense-btn', class: 'btn btn-primary', data: { disable_with: 'Please wait...' }
          = "&nbsp;".html_safe
          = f.button :button, 'Cancel', class: 'btn btn-cancel'

javascript:
  toggleSplit = function(e) {
    if ($('#new-expense-form').validate().checkForm()){
      $('.split-expense').show();
    } else {
      $('.split-expense').hide();
    }
    $('#new-expense-form').validate().submitted = {}
  };
  $('#new-expense-form').find('input, select').on('change', toggleSplit);
  toggleSplit();
  $.subscribe('upload-in-progress',function(data){
    //disable save button
    $('#save-expense-btn').prop('disabled',true);
  });
  $.subscribe('upload-done', function (data) {
    //enable save button
    $('#save-expense-btn').prop('disabled',false);
  });

  $.subscribe('upload-file-change', function (data) {
    //enable save button
    $('#save-expense-btn').prop('disabled', true);
  });
